
<!DOCTYPE html>
<html>
    <title>Traimon</title>
    <head>
        <link rel="stylesheet" href="styles.css">
<script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
    <style></style>
    </head>
<body>
    <nav class="navbar">
        <ul class="menu">
            <li>
    <a href="/overview" hx-get="/overview" hx-target="#content">Überblick</a>
            </li>
            <li>

    <a href="/import" hx-get="/import" hx-target="#content">Import</a>
            </li>
        </ul>
    </nav>    <nav>
</nav>
<div id="content">
</div>
</body>
</html>
